.min-heading{
    font-size: .99em;
    opacity: .6;
    letter-spacing: .8px;
}
.tab-mini{
    height: 34px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: .99em;
    padding: 1em 0;
    margin: 15px 0;
    font-weight: 500;
    letter-spacing: .4px;
    
}
.icon{
    height: 24px;
    width: 24px;
}
.sf-home-items .icon, .header-tab .icon{
    margin-right: 8px;
}
.header-tab{
    height: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1em;
    padding: 1.5em 0 ;
    margin: 15px 0;
    font-weight: 500;
    letter-spacing: .8px;
    position: relative;
}
.header-tab h1{
    font-size: .99em;
}
.header-tab .icon{
    height: 40px;
    width: 60px;
    object-fit: contain;
    margin-right: 0px;
}
.sf-content-nav form{
    height: 65%;
    width: 50%;
    max-width: 230px;
    background: none;
    display: flex;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    transition: all .3s ease-in-out;
    
}
.sf-content-nav input{
    background: none;
    padding: 0 10px;
    color: #EEE9EE;
    
}
.sf-content-nav form button{
    background: none;
    border-radius: 8px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    width: 40px;
    padding: 2px;
    font-size: 0;
    border:1px solid #EEE9EE;
}
.sf-content-nav button:hover{
    background: #3A31B4;
}
.sf-content-nav button img, .icon-btn-trpt img{
    width: 20px;
    object-fit: contain;
}
.icon-btn{
    background: none;
    border-radius: 8px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    width: 35px;
    height: 30px;
    padding: 3px;
    font-size: 0;
}

.icon-btn-trpt{
    background: none;
    border-radius: 8px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    width: 40px;
    height: 30px;
    padding: 2px;
    font-size: 0;
    border:1px solid #EEE9EE;
}
button{
    transition: all .3s ease-in-out;
}
button:hover , .sf-content-nav form:hover, .sf-content-nav form:focus{
    background: none;
    transform: translateY(-3px);
    border-left:1px solid #3A31B4;
}
.sf-content-nav form:hover button{
    transform: translateY(-4px);
    background: #3A31B4;
}
/*====menu=btn==*/
#main-menu-btn{
    display: none;
}
#close-btn{
    position:absolute;
    right: 3px;
    top:7px;
    display:none;
    z-index: 200;
}
#close-btn:hover, #close-btn:focus{
    background:#3A31B4;
}
@media (max-width: 750px){
    #main-menu-btn{
        display: block;
    }
    #close-btn{
        display:block;
    }
    
}