:root{
    --accent:#37383F;
    --black-bg:#1F1C20;
    --black-bg-items:#26242D;
    --gray:#3A31B4 ;
    --white:#EEE9EE;
}
*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    color:#EEE9EE;
    background: #1F1C20;
    margin: 0 auto;
    font-size: 16px;
}
.sf-container{
    width: 100%;
    max-width: 1440px;
    height: 100vh;
    overflow: hidden;
    display: flex;
}
.sf-nav-container{
    width: 25%;
    max-width: 170px;
    background: #26242D;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.sf-logo-container{
    height: 50px;
    width: 100%;
    background: #26242D;
    flex-shrink: 0;
    padding: 1em 1.5em;
    display: flex;
    align-items: center;
}
.sf-main-nav-content{
    height:90%;
    width: 100%;
    flex: 1;
}
.sf-nav-foot{
    height: 100px;
    width: 100%;
}
.sf-main-content-container{
    width: 70%;
    height: 100%;
    background:#1F1C20;
    display: flex;
    flex: 1;
}
.sf-content-nav{
    height: 50px;
    width: 100%;
    background: none;
}
.sf-home-items{
    height: 100%;
    padding: .4em 1.5em;
    overflow-y: auto;
    padding-top: 1.7em;
}
.sf-nav-container ul{
    margin-bottom: 30px;
}